# Python version
python<3.7

# Libraries
streamlit==1.0.0
PyPDF2==1.26.0
transformers==4.13.0
sentence-transformers==2.0.0
nltk==3.6.5
langchain==0.0.3
reportlab
torch==1.9.0
numpy==1.21.2
